In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df= pd.read_csv("IRIS.csv")

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing  import LabelEncoder

In [46]:
lr = LinearRegression()
lc= LabelEncoder()

In [47]:
df["species"]= lc.fit_transform(df["species"])

In [48]:
x=df[["sepal_length" , "sepal_width", "petal_length", "petal_width"]]
y=df["species"]
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size= 0.4, random_state= 21)

In [49]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [50]:
lr.fit(X_train, Y_train)

LinearRegression()

In [51]:
predict= lr.predict(X_test)

In [52]:
predict

array([ 1.11672911,  0.13662598, -0.03394725,  0.03593863,  1.15087212,
        1.23953085, -0.00761226,  1.7443542 ,  0.08931547, -0.0188631 ,
        0.97346414,  1.17910324,  2.04898001,  2.11439664,  0.16410919,
        1.53827464,  1.58063625,  1.27081382, -0.2084644 ,  1.74269369,
        1.6067151 ,  1.03294835,  1.58437535,  1.18471886, -0.03347601,
        0.98026811, -0.04593573,  0.02742284,  1.25783155,  1.89914668,
        0.06713016,  1.92385195,  1.57430352, -0.04026972,  1.58014449,
        1.36136868,  1.37742609,  1.97723064, -0.02031878,  1.74269369,
        1.66791022,  2.0377189 ,  1.78408204,  1.19836785,  1.8342022 ,
       -0.12828133, -0.05561001, -0.11535037,  1.39449738,  0.00651824,
        1.39478431, -0.05418512,  1.22612774,  2.29519614,  1.29270194,
        1.04052076,  0.01308659, -0.02594374,  2.05434974,  0.02649997])

plt.scatter(Y_test, predict)

In [68]:
from sklearn import metrics
from sklearn.metrics import r2_score
metrics.mean_squared_error(Y_test, predict)

0.05309335961083177